<!DOCTYPE html>  
<html> 
<head> 
	<title>LGeratech.com</title> 
	<link rel="stylesheet" href="/css/style.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head> 
<body>
	<header id="header"> 
		<h1 id="title">WELCOME TO LGERATECH.COM!</h1>
		<p id="subtitle" >Registration page</p> 
	</header> 
	<div id="body-container">
		<form action="profile" method="post">
			<input type="text" name="name" placeholder="Enter Name">
			<input type="number" name="age" placeholder="Enter your Age">
			<select name="gender">
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select><br><br>
			<input type="submit" value="Submit">
		</form> 
	</div>
	<footer id="footer"> 
		<p>Created on May 2020, by <a href = "http://lgeratech.com/">LGeratech.com</a></p> 
	</footer> 
</body> 
</html> 